* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
  column-gap: 10px;
}

.post-page {
  padding: 10%;
}

.post-title::first-letter, .post-body::first-letter {
  text-transform: capitalize;
}

.post-body {
  max-width: 50%;
  margin-top: 40px;
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.page {
  border: 1px solid teal;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
}

.current-page {
  border: 2px solid orange;
  font-weight: bold;
}

/*======================
    404 page
=======================*/

.page_404 {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  background: #fff;
  min-width: 100%;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url('/src/assets/404.gif');
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

/* NAV */

.navBar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.1);
  align-items: center;
  padding: 0 15px;

}

.navBar__links {
  display: flex;
  column-gap: 20px;
}
 
.navBar__links a {
  color: black;
  text-decoration: none;
  font-weight: 800;
}
